body {
    display: flex;
    flex-direction: column;
}

button {
    width: 92%;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    background-color: #8dc786;
    color: #242424;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#errorMessage {
    color: rgb(196, 72, 72);
    margin-top: 10px;
    font-size: 14px;
    display: none;
}

button:hover {
    color: #8E8E8E;
}

#App {
    margin: 30px;
    gap: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: solid 4px #242424;
}

input {
    outline: none;
    width: 90%;
    height: 30px;
    border: solid 3px #242424;
    border-radius: 10px;
    background-color: transparent;
    font-size: 20px;
    padding: 7px;
}

h1 {
    text-align: center;
}


@media screen and (max-width: 500px) {
    #App {
        flex-direction: column;
    }
    .title {
        font-size: 32px;
    }
}
