@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");

:root {
    background-color: #3a3a3a;
}

body {
    font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
    background-color: #3a3a3a;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
}

.Bar {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Bar a, h3, p {
    cursor: default;
    color: #8E8E8E;
}

.Bar h1 {
    font-weight: 300;
}

.Bar a, p {
    transition: color 200ms;

    font-size: large;
    font-weight: bold;
}

.Bar a:hover {
    cursor: pointer;
    color: #8dc786;
}

.burger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.menu.hide {
    display: none;
}

.user {
    gap: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.user img {
    transition: border 200ms;

    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid 3px #242424;
}
.user img:hover {
    width: 40px;
    border-radius: 100%;
    border: solid 3px #7ad687;
}

.divider {
    width: 90%;
    height: 5px;
    border-radius: 20px;
    background-color: #242424;
}


.blog-image {
    max-height: 400px;
    border: solid 5px #242424;
    margin-top: 25px;
    max-width: 600px;
    height: auto;
    border-radius: 15px;
    transition: box-shadow 350ms ease-in-out;
    margin-bottom: 20px;
}

.blog-image:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.85);
}

.error-message {
    font-size: 64px;
    color: #cc614e
}
.error-message a {
    font-size: 24px;
    font-weight: bold;
    color: #8E8E8E
}
.error-message a:hover {
    cursor: pointer;
    color: #8dc786;
}

#ImagesContent {
    gap: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#Part2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#Content {
    display: flex;
    text-align: left;
    font-size: 20px;
    margin: 20px;
    flex-direction: column;
    min-width: 90%;
}
#App {
    height: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

#Nav {
    gap: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .Bar {
        flex-direction: column;
        align-items: center;
    }

    #Nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background: #444;
        padding: 10px;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .burger {
        display: block;
    }

    .menu.show #Nav {
        display: flex;
    }

    #blog-content {
        height: 120px;
    }

}

@media screen and (max-width: 630px) {
    .Bar h1 {
        font-size: 3rem;
    }

    .user h3 {
        font-size: 1rem;
    }

    .blog-image {
        max-width: 100%;
    }
}
