:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #3a3a3a;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#profil {
    text-align: center;
    height: 40px;
    gap: 10px;
    display: flex;
    flex-direction: row;
}
#profil button {
    padding: 10px;
    height: 40px;
    width: 90px;
    border-radius: 7px;
}
#profil a {
    font-size: smaller;
    color: #242424
}
#profil a:hover {
    color: #93e9ba
}

.title {
    font-weight: 600;
}
.Nav {
    width: 90%;
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

a {
    font-weight: 400;
    font-size: smaller;
    color: #93e9ba;
    text-decoration: inherit;
}
.Nav a {
    font-size: 24px;
}

body {
    place-items: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    display: flex;
    min-height: 93vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    flex-direction: column;
}

#create {
    margin-left: 10px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
    filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

button:hover {
    outline: none;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}


@media screen and (max-width: 600px) {
    .Nav {
        flex-direction: column;
    }

}